/*0. general------------------------*/
html, body {
  padding: 0;
  margin: 0;
  font-family: Arial; }

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

input:focus {
  outline: none; }

.mainHeader,
.navigation,
.mainTheme,
.features,
.boxServices,
.info,
.companies,
.bottomMenu,
.mainFooter {
  max-width: 1160px;
  margin: 0 auto; }

/*1. header---------------------------*/
/*footer------------------------*/
