/*timer.css*/
.box {
  max-width:450px;
  margin: 0 auto;
}
form {
  margin:25px 0;
}
div {
  margin-bottom:50px;
}
.display {
  font-size: 70px;
  border: none;
	text-align:center;
}
input[type="text"] {
  width:100%;
}
input[type="button"] {
  width: 70px;
  margin-left:50px;
}
